<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="protect.Finia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="protect.Finia.Activities.SpendingReportActivity"
            android:theme="@style/AppTheme.InputSheet" />
        <activity
            android:name="protect.Finia.Activities.TransactionEditActivity"
            android:theme="@style/AppTheme.InputSheet" />
        <activity
            android:name="protect.Finia.Activities.TransactionAddActivity"
            android:theme="@style/AppTheme.InputSheet" />
        <activity
            android:name="protect.Finia.Activities.BudgetEditActivity"
            android:theme="@style/AppTheme.InputSheet" />
        <activity
            android:name="protect.Finia.Activities.NetWorthReportViewingActivity"
            android:label="@string/title_activity_net_worth_report_template"
            android:theme="@style/AppTheme.ReportSheet" />
        <activity
            android:name="protect.Finia.Activities.NetWorthReportEditingActivity"
            android:label="@string/title_activity_net_worth_edit_reports"
            android:parentActivityName="protect.Finia.Activities.NetWorthActivity"
            android:theme="@style/AppTheme.InputSheet"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="protect.Finia.Activities.TransactionActivity"
            android:theme="@style/AppTheme.MajorActivities" />
        <activity
            android:name="protect.Finia.Activities.BudgetActivity"
            android:theme="@style/AppTheme.MajorActivities" />
        <activity
            android:name="protect.Finia.Activities.SpendingActivity"
            android:theme="@style/AppTheme.MajorActivities" />
        <activity
            android:name="protect.Finia.Activities.NetWorthActivity"
            android:theme="@style/AppTheme.MajorActivities" />
        <activity
            android:name="protect.Finia.Activities.MainActivity"
            android:theme="@style/AppTheme.MajorActivities">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>